.accordion {
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  background-color: #f4f2f2;
}

.category {
  border-bottom: 1px solid #cbc8c8;
  height: 4rem;
  list-style-type: none;
  padding: 0.5rem;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  font-size: 1.5em;
}

.category.active {
  border-left: 0.4rem solid #a2a0a0;
}

.show {
  display: block;
}

.hide {
  display: none;
}
