.App {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.selected {
  border: 1px solid black;
}

.active {
  border: 1px solid blue;
  background-color: orange;
  height: 200px;
  width: 200px;
}
