.App {
  display: flex;
  height: 100vh;
}

.col-1 {
  width: 65%;
  .header {
    border-bottom: 1px solid green;
    height: 6%;
    display: flex;
    align-items: center;
    padding-left: 3rem;

    h1 {
      margin: 0;
    }
  }
}

.col-2 {
  width: 35%;
  border-left: 1px solid black;

  .accordian {
    height: 88%;

    .categories {
      margin: 0;
      padding: 0;

      .category {
        width: 100%;
        border-bottom: 1px solid orange;
        height: 4rem;
        list-style-type: none;
        padding: 0.5rem;
        display: flex;
        align-items: center;
      }
    }
  }

  .footer {
    border-top: 1px solid red;
    height: 12%;
  }
}
