.App {
  display: flex;
  height: 100vh;
}

.col-1 {
  width: 65%;
  .header {
    height: 6%;
    display: flex;
    align-items: center;
    padding: 1rem 0 0 3rem;

    h1 {
      margin: 0 0 0 12px;
      font-weight: 100;
    }
  }
}

.col-2 {
  width: 35%;
  box-shadow: 0 0 10px 0 #aaaaaa;

  .accordian {
    height: 88%;

    .categories {
      margin: 0;
      padding: 0;
      background-color: rgb(244, 242, 242);

      .category {
        width: 100%;
        border-bottom: 1px solid rgb(203, 200, 200);
        height: 4rem;
        list-style-type: none;
        padding: 0.5rem;
        padding-left: 1rem;
        display: flex;
        align-items: center;
        font-size: 1.5em;
      }
    }
  }

  .footer {
    border-top: 1px solid lightgrey;
    height: 12%;
  }
}
