.App {
  display: flex;
  height: 100vh;
}

.col-1 {
  width: 65%;
}

.col-2 {
  width: 35%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 8px 0#c2c2c2;
  justify-content: space-between;
}
